<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'conditional.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'conditional.title' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'conditional.defination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'conditional.ex' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'conditional.Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'conditional.devided' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'conditional.Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'conditional.probableCondition' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'conditional.probableConditionDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'conditional.probableConditionNot' | translate}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'conditional.devided' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'conditional.probableConditionExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'conditional.ImprobableCondition' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'conditional.ImprobableConditionDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'conditional.ImprobableConditionNote' | translate}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'conditional.devided' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'conditional.ImprobableConditionExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'conditional.Memo' | translate}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
