<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'partsOfSpeech.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'partsOfSpeech.title' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.defination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'partsOfSpeech.devided' | translate}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'partsOfSpeech.pronoun' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.pronoundefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Example</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.pronounExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'partsOfSpeech.verb' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.verbDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Example</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.verbExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'partsOfSpeech.Preposition' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.PrepositionDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Example</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.PrepositionExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'partsOfSpeech.Conjunction' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.ConjucntionDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Example</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.ConjunctionExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'partsOfSpeech.Interjuction' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.InterjuctionDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Example</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.InterjuctionExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'partsOfSpeech.Article' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.ArticleDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'partsOfSpeech.ArticleDevide' | translate}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'partsOfSpeech.DefiniteArticle' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.DefiniteArticleDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'partsOfSpeech.indefiniteArticle' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.indefiniteArticleDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Example</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'partsOfSpeech.indefiniteArticleExample' | translate}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
