<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'phonetics.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'phonetics.title' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'phonetics.defination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'phonetics.rule' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'phonetics.1' | translate}}</p>
      <p>{{'phonetics.2' | translate}}</p>
      <p>{{'phonetics.3' | translate}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
