<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tense"></ion-back-button>
    </ion-buttons>
    <ion-title>perfect-tense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"tense.simplePerfectTense" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"tense.simplePerfectTenseDefination" | translate }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"tense.example" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"tense.simplePerfectTenseExample" | translate }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{"tense.structure" | translate }}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"tense.simplePerfectTensePositiveStracture" | translate }}</p>
      <p>{{"tense.simplePerfectTenseNegativeStracture" | translate }}</p>
      <p>{{"tense.simplePerfectTenseInterogativeStracture" | translate }}</p>
      <p>{{"tense.simplePerfectTenseInterogativeNegativeStracture" | translate }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
