<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">

      </ion-back-button>
    </ion-buttons>
    <ion-title>{{'infinitive.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'infinitive.title' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'infinitive.defination' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'infinitive.ex' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'infinitive.Example' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'infinitive.ex' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'infinitive.Example1' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'infinitive.usage' | translate }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'infinitive.1use' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'infinitive.1Example' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'infinitive.2use' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'infinitive.2Example' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'infinitive.3use' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'infinitive.3Example' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'infinitive.4use' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'infinitive.4Example' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'infinitive.5use' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'infinitive.5Example' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'infinitive.6use' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'infinitive.6Example' | translate }}
    </ion-card-content>
  </ion-card>
</ion-content>
