<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"RegularandIrregularverbs.title" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"RegularandIrregularverbs.title" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"RegularandIrregularverbs.defination" | translate }}</p>
      <h1>{{"RegularandIrregularverbs.Devided" | translate }}</h1>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"RegularandIrregularverbs.regular" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"RegularandIrregularverbs.regularDefination" | translate }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"RegularandIrregularverbs.Example" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"RegularandIrregularverbs.regularExample" | translate }}</p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"RegularandIrregularverbs.irregular" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"RegularandIrregularverbs.irregularVerbs" | translate }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"RegularandIrregularverbs.Example" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"RegularandIrregularverbs.irregularVerbsExample" | translate }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"RegularandIrregularverbs.rules" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"RegularandIrregularverbs.1rule" | translate }}</p>
      <p>{{"RegularandIrregularverbs.1Example" | translate }}</p>
      <p>{{"RegularandIrregularverbs.2rule" | translate }}</p>
      <p>{{"RegularandIrregularverbs.2Example" | translate }}</p>
      <p>{{"RegularandIrregularverbs.3rule" | translate }}</p>
      <p>{{"RegularandIrregularverbs.3Example" | translate }}</p>
      <p>{{"RegularandIrregularverbs.4rule" | translate }}</p>
      <p>{{"RegularandIrregularverbs.4Example" | translate }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
