<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'nouns.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'nouns.title' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'nouns.defination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Example
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'nouns.exmple' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'nouns.devided' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'nouns.concrete' | translate}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1>{{'nouns.concreteNounsdevided' | translate}}</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.properNouns' | translate}}</h2>
      <h2>{{'nouns.commonNouns' | translate}}</h2>
      <h2>{{'nouns.collectiveNouns' | translate}}</h2>
      <h2>{{'nouns.materialNouns' | translate}}</h2>
      <h2>{{'nouns.combinedNouns' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>{{'nouns.properNouns' | translate}}</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.properNounsDefination' | translate}}</h2>
      <h2>{{'nouns.properNounNote' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Example
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.properNounsExample' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>{{'nouns.commonNouns' | translate}}</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.commonNounsDefination' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Example
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.commonNounsExample' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>{{'nouns.collectiveNouns' | translate}}</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.collectiveNounsDefination' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Example
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.collectiveNounsExample' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>{{'nouns.materialNouns' | translate}}</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.materialNounsDefination' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Example
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.materialNounsExample' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>{{'nouns.combinedNouns' | translate}}</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.combinedNounsDefination' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Example
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.combinedNounsExample' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>{{'nouns.abstract' | translate}}</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.abstractNounsExample' | translate}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Note
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{'nouns.abstracNounsNote' | translate}}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
