<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>{{'gender.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-card>
      <ion-card-header class="card-header">
        <ion-card-title class="card-title">
          <h2>{{'gender.title' | translate}}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <p>{{'gender.defination' | translate}}</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header class="card-header1">
        <ion-card-title class="card-title">
          <h2>{{'gender.example' | translate}}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content1">
        <p>{{'gender.ex' | translate}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-header">
        <ion-card-title class="card-title">
          <h2>{{'gender.devided' | translate}}</h2>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-header1">
        <ion-card-title class="card-title">
          <h2>{{'gender.masculineGender' | translate}}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content1">
        <p>{{'gender.masculineGenderDefine' | translate}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-header">
        <ion-card-title class="card-title">
          <h2>{{'gender.example' | translate}}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <p>{{'gender.masculineGenderExample' | translate}}</p>
      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <ion-card-header class="card-header1">
        <ion-card-title  class="card-title">
          <h2>{{'gender.feminineGender' | translate}}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content1">
        <p>{{'gender.feminineGenderDefination' | translate}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-header">
        <ion-card-title  class="card-title">
          <h2>{{'gender.example' | translate}}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <p>{{'gender.feminineGenderExample' | translate}}</p>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header class="card-header1">
        <ion-card-title class="card-title">
          <h2>{{'gender.commonGender' | translate}}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content1">
        <p>{{'gender.commonGenderDefination' | translate}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-header">
        <ion-card-title class="card-title">
          <h2>{{'gender.example' | translate}}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <p>{{'gender.commonGenderExample' | translate}}</p>
      </ion-card-content>
    </ion-card>

  
  </ion-content>
  