.card-header{
    background-color: #EEB1D5; 
}
.card-title{
    color: white;
}
.card-content{
    color: black;
    background-color: #EFC7E5;
    padding-top: 10px;
    
}

.card-header1{
    background-color: #D782BA; 
}
.card-content1{
    color: black;
    background-color: #E18AD4;
    padding-top: 10px;
    
}

ion-card{
    border-radius: 10px;
    p{
        font-size: 14px;
    }
}