<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title >{{'verbs.title' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'verbs.verbsDevided' | translate}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'verbs.tobeVerbs' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'verbs.tobeVerbsDefination' | translate }} </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'verbs.tobeVerbsDevided' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'verbs.tobeVerbsParts' | translate }} </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'verbs.toHaveVerbs' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'verbs.toHaveVerbsDefination' | translate }} </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'verbs.toHaveVerbsDevided' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'verbs.toHaveVerbsParts' | translate }} </p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'verbs.todoVerbs' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'verbs.todoVerbsDefination' | translate }} </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'verbs.toDoVerbsDevided' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'verbs.toDOVerbsParts' | translate }} </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'verbs.emphaticDo' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'verbs.emphaticDoDefination' | translate }} </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Example</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'verbs.emphaticDoExample' | translate }} </p>
    </ion-card-content>
  </ion-card>
</ion-content>
