<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tense"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'tense.simplePresentTense' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>
          {{'tense.simplePresentTense' | translate}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{'tense.simplePresentTenseDefination' | translate}}
      </ion-card-content>
    </ion-card>

    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>
          Example
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{'tense.simplePresentTenseExample' | translate}}
      </ion-card-content>
    </ion-card>

    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>
          Structures
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{'tense.simplePresentTensePositiveStracture' | translate}}
        <br>
        {{'tense.simplePresentTenseInterogativeStracture' | translate}}
        <br>
        {{'tense.simplePresentTenseNegativeStracture' | translate}}
        <br>
        {{'tense.simplePresentTenseInterogativeNegativeStracture' | translate}}
      </ion-card-content>
    </ion-card>
</ion-content>
