<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'comma.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'comma.title' | translate}} </p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'comma.defination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'comma.usage' | translate}} </p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'comma.A' | translate}}</p>
      <p>{{'comma.Aex' | translate}}</p>
      <p>{{'comma.B' | translate}}</p>
      <p>{{'comma.Bex' | translate}}</p>
      <p>{{'comma.D' | translate}}</p>
      <p>{{'comma.Dex' | translate}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
