<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">{{'adjective.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.title' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.defination' | translate}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.note' | translate }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.ex' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.2note' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.2Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.devided' | translate }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.quality' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.qualityDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.ex' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.qualityExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.ProperAdjective' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.properExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.quantity' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.quantityDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.quantityExample' | translate }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.demonstrate' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.demonstrateDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.Possesive' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.possesiveAdjective' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.possesiveAdjectiveParts' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.possesiveAdjectiveExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.Interogative' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.InterogativeDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.InterogativeParts' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.InterogativeExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.Distributive' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.DistributiveDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.DistributiveParts' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.DistributiveExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.NumeralAdjective' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.numeralAdjectveDefination' | translate}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.NumeralAdjectiveParts' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.NumeralAdjectivedevided' | translate}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.DefiniteNumeralAdjective' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.DefiniteNumeralAdjectiveDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.DefiniteNumeralAdjectiveExample' | translate }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.IndefiniteNumeralAdjective' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'adjective.indefiniteNumeralAdjectiveDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'adjective.IndefiniteNumeralAdjectiveExample' | translate }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>