<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tense"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"tense.simpleFutureTense" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"tense.simpleFutureTense" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"tense.simpleFutureTenseDefination" | translate }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"tense.example" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"tense.simpleFutureTenseExample" | translate }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{"tense.structure" | translate }}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{"tense.simpleFutureTensePositiveStracture" | translate }}</p>
      <p>{{"tense.simpleFutureTenseNegativeStracture" | translate }}</p>
      <p>{{"tense.simpleFutureTenseInterogativeStracture" | translate }}</p>
      <p>{{"tense.simpleFutureTenseInterogativeNegativeStracture" | translate }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
