<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>{{'pronouns.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.title' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.defination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.expample' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.ex' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.devided' | translate}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.personalPronuns' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.personalPronounsDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.expample' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.personalPronounsExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.personalPronounsparts' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.subjectPronouns' | translate}}</p>
      <p>{{'pronouns.subjectPronounsExample' | translate}}</p>
      <p>{{'pronouns.subject' | translate}}</p>
      <p>{{'pronouns.subjectDefination' | translate}}</p>
      <p>{{'pronouns.subjectExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.possesivePronuns' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.possesivePronounsDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>Example</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.possesivePronounsExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>{{'pronouns.possesivePronounsparts' | translate}}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.possesivePronounsDevided' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.demonstrativePronuns' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.demonstrativePronounsDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>Example</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.demonstrativePronounsExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>{{'pronouns.demonstrativePronounsparts' | translate}}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.demonstrativePronounsDevided' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.RelativePronuns' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.RelativePronounsDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>Example</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.RelativePronounsExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>{{'pronouns.RelativePronounsDevided' | translate}}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.RelativePronounsparts' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.ReflexivePronuns' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.ReflexivePronounsDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>Example</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.ReflexivePronounsExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>{{'pronouns.ReflexivePronounsDevided' | translate}}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.ReflexivePronounsparts' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.InterogativePronuns' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.InterogativePronounsDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>Example</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.InterogativePronounsExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>{{'pronouns.InterogativePronounsDevided' | translate}}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.InterogativePronounsparts' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.EmphasizingPronuns' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.EmphasizingPronounsDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>Example</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.EmphasizingPronounsExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>{{'pronouns.EmphasizingPronounsDevided' | translate}}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.EmphasizingPronounsparts' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.distributivePronuns' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.distributivePronounsDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>Example</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.distributivePronounsExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>{{'pronouns.distributivePronounsDevided' | translate}}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.distributivePronounsparts' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'pronouns.IndefinedPronuns' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.IndefinedPronounsDefination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>Example</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.IndefinedPronounsExample' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
       <h3>{{'pronouns.IndefinedPronounsDevided' | translate}}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'pronouns.IndefinedPronounsparts' | translate}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
