<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Sentence.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.title' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.Defination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.example' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.Devided' | translate}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.simple' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.simpleDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.example' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.simpleExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.complex' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.complexDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.example' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.complexExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.compound' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.compoundDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.example' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.compoundExample' | translate}}
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.meaningDevided' | translate}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.declarative' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.declarativeDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.example' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.declarativeExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.imperative' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.imperativeDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.example' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.imperativeExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.interogative' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.interogativeDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.example' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.interogativeExample' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.exclamatory' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.exclamatoryDefination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'Sentence.example' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'Sentence.exclamatoryExample' | translate}}
    </ion-card-content>
  </ion-card>
</ion-content>
