<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'intonation.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.ex' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.example' | translate}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.title' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.defination' | translate}}</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.ex' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.example' | translate}}</p>
      <p>{{'intonation.2example' | translate}}</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.kinds' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.Two' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.1' | translate}}</p>
        <p>{{'intonation.2' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.1high' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.1defination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.1senteces' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.1kind' | translate}}</p>
      <p>{{'intonation.1kindEx' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.2kind' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.2kindEx' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.3kind' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.3kindEx' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.2low' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.2defination' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.2senteces' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.2.1kind' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.2.1kindex' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.2.2kind' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.2.2kindex' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>{{'intonation.2.3kind' | translate}}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{'intonation.2.3kindex' | translate}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
