h2{
	font-weight: bolder;
}

h3{
	font-weight: bolder;
}

ion-content{
	background-color: gray;

}

.Fcard{
	background: #3c3f69;
	color: white;
	text-align: center;
}
.Scard{
	background: #5758ad;
	color: white;
	text-align: center;
}

ion-card{
	border-radius: 10px;
}

.comma{
	width: 70%;
	height: 400px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	background-color: rgb(235, 235, 235);
	border-radius: 30px;
}

.icon-comma{
	width: 100px;
	border-radius: 10px;
	height: 100px;
	background-color: blue;
	color: white;
}

.comma2{
	width: 50%;
	height: 250px;
	margin-top: 20px;
	text-align: center;
	border-radius: 10px;
}
