<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'TagQuestion.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.title' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'TagQuestion.defination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.ex' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'TagQuestion.Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.rules' | translate}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.1rule' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'TagQuestion.1Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.2rule' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'TagQuestion.2Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.3rule' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'TagQuestion.3Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.4rule' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'TagQuestion.4Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.5rule' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'TagQuestion.5Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.6rule' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'TagQuestion.6Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.7rule' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'TagQuestion.7Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.8rule' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'TagQuestion.8Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TagQuestion.9rule' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'TagQuestion.9Example' | translate}}
    </ion-card-content>
  </ion-card>
</ion-content>
