<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'gerund.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'gerund.title' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'gerund.defination' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'gerund.ex' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'gerund.Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'gerund.Usage' | translate}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'gerund.1use' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'gerund.1Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'gerund.2use' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'gerund.2Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'gerund.3use' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'gerund.3Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'gerund.4use' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'gerund.4Example' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'gerund.5use' | translate}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{'gerund.5Example' | translate}}
    </ion-card-content>
  </ion-card>

</ion-content>
